<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">City not available in database</h4>
        </div>
        <div class="modal-body">
            <h5 class="text-center">The city you searched for isnt available in our databse</h5>
        <div class="row text-center">
            <div class="col">
        <a href="/forecast"><button type="button" class="btn btn-primary btn-lg">OK</button></a>
        </div>
        </div>
            <h5 class="text-center">Check later to see if the city is available</h5>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(window).on('load', function() {
        $('#myModal').modal({backdrop: 'static', keyboard: false});
    });
</script>
</body>
</html>