{%extends 'base.html'%}
{%block script1%}{%endblock%}
{%block title%} Weather forecast {%endblock%}
{%block contents%}
<h1 class="text-center">The weather forecast of {{city}}</h1>
<br>

    <div class="d-flex justify-content-center">
  <form action="" method="POST">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">City</label>
      </div>
      <div class="col-auto">
        <input type="text" placeholder="Enter the name of the city" class="form-control" aria-describedby="passwordHelpInline" name="loc" id="loc">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    </form>
    </div>
<br>
<div class="d-flex justify-content-center">
<div class="card-group">
    {%with f = main%}
    {%for i in range(f|length)%}
<div class="card" style="width: 30rem;">
  <img src="/static/mygraphl.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="text-center card-title">{{main[i]}}</h4>
    <br>
    <p class="text-center card-text">Weather : {{weather[i]}}</p>
    <br>
    
    <p class="text-center card-text">Temparature (celcius) : {{temp[i]}}</p>
    <br>
    <br>
    <br>
  </div>
  </div>
    {%endfor%}
    {%endwith%}
</div>
</div>

{%endblock%}

{%block script2%}{%endblock%}
